body,
html,
#root {
  height: 100%;

}

.App{
  flex-wrap: wrap;
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background.jpg');
  opacity: 0.95;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #56649f;  
  text-align: center;
}
h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: #ffffff;
  font-size: 4rem;
  margin-top: 60px;
}
.App-playlist{
  display: flex;
  flex-wrap: wrap;
  align-items: justify;
  gap:25px;
  width: 700px;
  margin: 0 auto;

}