

.footer {
    background-color: rgba(108, 65, 233, .7);
    min-width:100%;
    padding: 20px 0;
    color: white;
    position: relative; 
    margin-bottom:
}

    .infoText {
        font-size: 30px;
        line-height: 20px;
        opacity: 0.5;
        text-align: center;
        align-items:center;
       min-width: 800px;
        margin-bottom: 20px;
     
    }
    
       
    
