.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.SearchBar input {
  width: 400px;
  height: 34px;
  padding:1rem 0;
  border: 1px solid #fff;
  border-radius: 15px;
  margin-bottom: 1rem;
  color: #010c3f;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.4;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgba(108, 65, 233, 0.7);
}
