.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.SearchBar input {
  width: 450px;
  height: 25px;
  padding:1rem 0;
  border: 2px solid #fff;
  border-radius: 15px;
  margin-bottom: 1rem;
  color: bla
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.45;
  z-index: 1;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 8.11rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: rgba(40, 9, 80, 0.7);
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: rgba(108, 65, 233, 0.7);
}
