.TrackList {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  /* CSS for TrackList on smaller screens */
  .TrackList {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

