.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  }
  
  .Track-action {
    cursor: pointer;
    padding: .5rem;
    font-size: 1.05rem;
    transition: color .25s;
    border: 0px;
    background-color: rgba(128, 73, 196, 0);
    color: #fff;
  }
  
  .Track-action:hover {
    color: rgba(265, 265, 265, .5);
  }
  
  .Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
  }
  
  .Track-information h3 {
    margin-bottom: .22rem;
  }
  
  .Track-information p {
    font-size: .83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
  }
  h3, p{
    color:#ffffff;
    
  }
  
p{
    color:#ffffff;
    padding-bottom:  15px;
    margin-top: 10px
  }

  @media (max-width: 800px) {
    /* CSS for Track on smaller screens */
    .Track {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .Track-information {
      text-align: center;
    }
  
    .Track h3 {
      font-size: 0.8rem;
      text
    }
  
    .Track p {
      font-size: 0.9rem;
    }
  }
