.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    overflow-y: scroll;
    width: 80%;
    height: auto;
    background-color: rgba(40, 9, 80, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    margin-bottom: 33px;
   padding-right: 10px;
   margin-right: auto;
 
  }
  
  .Playlist input {
    width: 95%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-family: 'Poppins', sans-serif;
    font-size: 1.55rem;
    color: #fff;
  }
  
  .Playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #6c41ec;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
  }
  
  .Playlist-save:hover {
    background-color: rgba(108, 65, 233, .7);
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  @media screen and (max-width: 600px) {
  /* CSS for Playlist on smaller screens */
  .Playlist {
    width: 90%;
    margin-right: auto;
    padding-right: 0;
  }

  .Playlist input {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 800px) {
  /* CSS for Playlist on smaller screens */
  .Playlist {
    width:100%;
    margin-right: auto;
    padding-right: 0;
  }

  .Playlist input {
    font-size: 1.3rem;
  }
}

